# =========================
# Dependencies
# =========================
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# =========================
# Next.js
# =========================
/.next/
/out/
/build
/dist

# =========================
# Production
# =========================
/build

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db
*.pem

# =========================
# Vercel
# =========================
.vercel

# =========================
# TypeScript
# =========================
*.tsbuildinfo
next-env.d.ts

# =========================
# Prisma
# =========================
/prisma/*.db
/prisma/*.db-journal
/lib/generated/prisma

# =========================
# Testing
# =========================
/coverage

# =========================
# Cache
# =========================
.cache
.turbo
.eslintcache